# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Graph.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Abdusattar\RiderProjects\Graph-Algorthms-cs\Graph\.idea\.idea.Graph\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
